.header {
	padding-top: 100px;
	padding-bottom: 41px;
}

.header__wrapper {
	display: flex;
}

.header__nav {
	margin-left: auto;
}

.header__nav__wrapper {
	display: flex;
	column-gap: 33px;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;

	li {

		a {
			transition: color 0.2s ease-in-out;
		}

		&:hover {

			a {
				color: $color-accent;
			}
		}
	}
}