.socials {
    display: flex;
    column-gap: 20px;

    svg {
        width: 25px;
        height: 25px;
    }
}

.social {
    
    svg {
        pointer-events: none;
        fill: $color-black;
    }

    @include desktop {
        svg {
            transition: fill 0.3s ease-in-out;
        }

        &:hover {

            svg {
                fill: $color-accent;
            }
        }
    }
}