// stylelint-disable no-empty-source
@font-face {
    src: url("../fonts/SFProDisplay/SFProDisplay-Regular.woff2") format("woff2");
    font-family: "SFProDisplay";
    font-weight: 400;
    font-style: normal;
}

@font-face {
    src: url("../fonts/SFProDisplay/SFProDisplay-Bold.woff2") format("woff2");
    font-family: "SFProDisplay";
    font-weight: 700;
    font-style: normal;
}
